<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="works.otter.movesense_flutter">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29"
    />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
</manifest>
